body{
    font-family: 'Arial', sans-serif;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    background-color: #5D7FB6;
    color: #FAFAFA;
    text-align: center;
    padding: 15px;
  }
  
  .format{
    text-align: center;
    background-color: #616161;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FAFAFA;
    width: 80%;
    padding: 10px;
    margin: 1% 10% 1% 10%;
    border-radius: 10px;
  }
  
  .style3{
    margin: 10px 2% 10px 2%;
    padding: 15px 3% 15px 3%;
    font-size: 20px;
    background-color: #616161;
    color: #FAFAFA;
    text-align: center;
  }
  
  button{
    background-color: #616161;
    color: #FAFAFA;
    font-size: 20px;
  }

  .back-button {
    background-color: #616161; /* Matches your button color */
    color: #FAFAFA; /* White text */
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    position: absolute; /* Positioned at the top-left */
    top: 10px;
    left: 10px;
}

.back-button:hover {
    background-color: #5D7FB6; /* Hover color */
}